[submodule "libraries/libraries/WiFi101"]
	path = libraries/libraries/WiFi101
	url = https://github.com/arduino-libraries/WiFi101.git
[submodule "libraries/libraries/SenseBox-MCU"]
	path = libraries/libraries/SenseBox-MCU
	url = git@github.com:sensebox/SenseBoxMCU-Lib.git
[submodule "libraries/libraries/SSD1306-Plot-Library"]
	path = libraries/libraries/SSD1306-Plot-Library
	url = git@github.com:sensebox/SSD1306-Plot-Library.git
[submodule "libraries/libraries/TinyGPSPlus"]
	path = libraries/libraries/TinyGPSPlus
	url = git@github.com:mikalhart/TinyGPSPlus.git
